body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;

}

/* HEADER */
header {
    background-color: #000000;
    color: #fff;
    width: 1200px;
    margin: 0 auto;

}
    .wrap-header{
        display: flex;
        flex-direction: column;
    }
        .main-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 100%;
            flex-wrap: nowrap;
            padding: 10px 0;
            border-bottom: 2px solid rgb(255, 255, 255);

        } 
            .title {
                text-align: center;
                align-content: center;
            }
            .title a {
                text-decoration: none;
                color: #fff;
            }
            .h6 {
                font-size: 26px;
                text-decoration: none;
            }
            .main-menu {
                text-align: center;
                align-content:center;
            }
            .main-menu a {
                color: #fff;
                text-decoration: none;
            }
            .main-menu a :hover{
                text-decoration: line-through;
            }
                .main-menu ul {
                    display: flex;
                    flex-direction: row;
                    width: auto;
                }
                .main-menu ul li {
                    display: flex;
                    padding: 3px;
                }






/* MAIN */
main {
    display: flex;
    background-color: #000000;
    color: #fff;
    width: 1200px;
    margin: 0 auto;

}
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;

    }







/* PAGE_HEADER */
    .page-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* padding: 20px; */
        box-sizing: border-box; 
    }
       .page-header > .text{
            font-size: 160px;
            margin: 0;
        }
        .page-header > .content {
            max-width: 50%;
        }
        .page-header > .content :nth-child(1){
            text-align: right;
        }
        .page-header > .content p {
            margin: 0;
            text-align: right;
        }
        .calendar-container {
            font-family: sans-serif;
            text-align: end;
            margin-top: 50px;
          }
          #dateDisplay {
            font-size: 64px;
            margin-bottom: 10px;
          }
          

       









/* PAGE MAIN CONTENT */
.page-main-content {
    display: flex;
}
    .main-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .main-wrapper .text {
            padding-top: 20px; 
            flex-direction: row;
            width: 50%;

        }
            .main-wrapper .h2 {
                font-size: 32px;
                padding-bottom: 20px;
            
            }
            .main-wrapper p {
                display: flex;
                margin: 0;
                justify-content: flex-end;   
            }
            .rotating-container {
                display: inline-block;
                transform-style: preserve-3d;
                transform-origin: center;
            }
            .rotating-text{
                font-size: 3em;
                color: #ffffff;
                white-space: nowrap;
                display: inline-block;
            }
            






/* PAGE FOOTER */

.page-footer {
    display: flex;
    width: 100%;
    flex-direction: row
}
    .main-wrapper-footer {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
        .main-wrapper-footer .text {
            display: flex;
            align-items: start;
            width: 50%;
            flex-direction: column;
            font-size: 120px;
        }
        .main-wrapper-footer .skill {
            width: 50%;
        }
        .main-wrapper-footer .skill a {
            flex-direction: row;
            text-decoration: none;
        }
        .main-wrapper-footer .content {
            flex-direction: row;

        }
        







            
/* MEDIA */

            @media (max-width: 1200px) {
                main {
                  width: 100%; 
                }
              }
             
            @media (max-width: 992px) {
                .page-header {
                    flex-direction: column;
                    align-items: center;
                  }
              
                .page-header > .text {
                    font-size: 48px;
                    text-align: center;
                    margin-bottom: 10px;
                  }
              
                .page-header > .content {
                      max-width: 100%;
                      align-items: center;
                  }
                .page-header > .content :nth-child(1){
                      text-align: center;
                  }
                .page-header > .content p {
                     text-align: center;
                  }
                  .main-wrapper {
                    flex-direction: column;
                    align-items: center;
                    padding: 10px; 
                }
            
                .main-wrapper .text {
                    width: 100%;
                    text-align: center;
                    padding-top: 10px;
                }
                 .main-wrapper p {
                    justify-content: center;
                 }
            
                .main-wrapper .h2 {
                    font-size: 28px;
                    padding-bottom: 10px;
                }
              
              }
              
    
            @media (max-width: 768px) {
                .body {
                    width: 100%;
                }
                .page-header > .text {
                     font-size: 32px;
              }
              header {
                width: 100%;
              }
              .main-nav {
                  align-items: center;
                  padding: 10px;
              }
          
              .title {
                  margin-bottom: 10px;
              }
              .main-menu ul{
                  flex-direction: column;
                  margin: 0 auto;
                  padding: 0;
              }
              .main-menu ul li{
                  text-align: center;
              }
              .main-wrapper .text {
                padding-top: 5px;
              }
              .main-wrapper .h2 {
                font-size: 24px;
                padding-bottom: 5px;
            }
        
              .rotating-text {
                  font-size: 2em;
              }
            }
    