body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}





/* HEADER */

header {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #fff;
    text-align: center;
    /* padding: 0 2dvw 0 2dvw; */
    width: 100dvw;
    /* max-width: 1200px; */
}


        .main-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            border-bottom: 2px solid rgb(255, 255, 255);
            position: relative;

        } 
            .title {
                display: block;
                text-align: center;
                align-content: center;
                padding-left: 3%;
            }
            .title a {
                text-decoration: none;
                color: #fff;
            }
            .h6 {
                font-size: 26px;
                text-decoration: none;
            }
            .main-menu {
                display: block;
                text-align: center;
                align-content:center;
                padding-right: 3%;
            }
            .main-menu a {
                color: #fff;
                text-decoration: none;
            }
            .main-menu a :hover{
                text-decoration: line-through;
            }
                .main-menu ul {
                    display: flex;
                    flex-direction: row;
                    width: auto;
                }
                .main-menu ul li {
                    display: flex;
                    padding: 3px;
                }

                @media (max-width: 768px) {
                    /* header {
                        text-align: left; /* Смещаем текст в шапке влево 
                    } */
                
                    .main-nav {
                        /* flex-direction: column; Размещаем название и меню в столбик */
                        align-items: center; /* Выравниваем элементы по центру */
                    }
                
                    .title {
                      text-align: center;
                      padding-bottom: 10px;
                    }
                
                    .main-menu {
                      text-align: center;
                    }
                    .main-menu ul {
                        flex-direction: column; /* Размещаем пункты меню в столбик */
                        padding: 0;
                    }
                
                    .main-menu ul li {
                        margin-bottom: 10px;
                        padding: 0;
                    }
}





/* MAIN */

main {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #fff;
    /* text-align: center; */
    /* padding: 0 20px 0 20px; */
    width: 100%;
}
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 ;
        padding: 20px 0;

    }







/* PAGE_HEADER */
    .page-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
       .page-header > .text{
            font-size: 42px;
            /* padding-bottom: 2%; */
        }
        .page-header > .content {
            max-width: 50%;
            align-items: end;
            /* text-align: right; */
        }
        .page-header > .content :nth-child(1){
            text-align: right;
        }
        .page-header > .content p {
            margin: 0;
            width: 100%;
        }

        @media (max-width: 768px) {
            .page-header {
                flex-direction: column; /* Размещаем элементы в столбик */
                align-items: center; /* Выравниваем по центру на маленьких экранах */
            }
        
            .page-header > .text {
                font-size: 32px; /* Уменьшаем размер текста */
                text-align: center;  /* Выравниваем текст по центру */
                margin-bottom: 10px; /* Добавляем отступ снизу */
        
            }
        
            .page-header > .content {
                max-width: 100%; /* Позволяем content занимать всю ширину */
                align-items: center; /* Выравниваем контент по центру */
            }
        
               .page-header > .content :nth-child(1) {
                    text-align: center;  /* Выравниваем текст по центру */
               }
        }




/* PAGE MAIN CONTENT */
.page-main-content {
    display: flex;
    flex-direction: row;
}
    .main-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
        .main-wrapper .text {
            padding-top: 20px; 
            flex-direction: row;
            width: 50%;
        }
            .main-wrapper .h2 {
                font-size: 32px;
                padding-bottom: 20px;
            
            }
            .main-wrapper p {
                display: flex;

                margin: 0;
                justify-content: flex-end;   
            }
            .animated-img{
                width: 50%;
            }